/* Estilos generales */
body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
}

/* Layout */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-x: hidden; 
}



/* Main */
.main-container {
    flex: 1; /* Para que el main ocupe el espacio restante */
    width: 100%; /* Ancho del 100% */
}

/* Footer */
footer {
    flex: 0 0 auto; /* Para que el footer no se estire */
}
