/* Estilos generales */
body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
    font-family: 'Lato', sans-serif; /* Aplicar la tipografía Lato al cuerpo del documento */
}

/* Layout */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-x: hidden; 
}

/* Main */
.main-container {
    flex: 1; /* Para que el main ocupe el espacio restante */
    width: 100%; /* Ancho del 100% */
}

/* Footer */
footer {
    flex: 0 0 auto; /* Para que el footer no se estire */
}

/* Estilos de tipografía para encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif; 
    font-weight: 700;
}

/* Estilos de tipografía para spans */
span {
    font-family: 'Lato', sans-serif; 
    font-weight: 600;
}

/* Estilos de tipografía para párrafos */
p {
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
}
li a{
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
}