
.category-list-mobile {
    list-style: none;
    padding: 0;
  }
  
  .category-list-mobile li {
    margin-bottom: 10px; 
  }
  
  .category-list-mobile li a {
    text-decoration: none; 
    font-weight: 800; 
    color: #333; 
    transition: all 0.3s; 
  }
  .category-list-mobile li a:hover {
    color: #00cc66; 
    transform: scale(1.09); 
    box-shadow: 0 0 10px rgba(13, 1, 47, 0.079); 
    background-color: #f2f2f2; 
    border-radius: 5px; 
    opacity: 0.9; 
}

  .login-button {
    background-color: #00cc66; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .login-button:hover {
    background-color: #00994d; 
  }
  