/* Estilos para dispositivos móviles */
@media screen and (max-width: 576px) {
  .category-list-mobile {
    text-align: center; /* Centra los elementos */
  }

  .category-list-mobile li {
    margin-bottom: 10px;
    display: inline-block; /* Para que los elementos se muestren en línea */
  }

  .category-list-mobile li a {
    text-decoration: none;
    font-weight: 800;
    color: #ffffff;
    transition: all 0.3s;
    display: block; /* Para que los elementos ocupen todo el ancho */
    padding: 10px; /* Agrega espacio alrededor del enlace */
  }

  .category-list-mobile li a:hover {
    color: #00cc66;
    transform: scale(1.09);
    border-bottom: 2px solid #00cc66;
    opacity: 0.9;
  }

  .login-button {
    background-color: #00cc66;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block; /* Para que el botón ocupe todo el ancho */
    margin: 20px auto; /* Centra el botón */
  }

  .login-button:hover {
    background-color: #00994d;
  }

  /* Cambiar el color del ícono del menú hamburguesa a blanco */
  .menu-icon {
    color: #fff;
  }
}
