
.category-list-mobile {
    list-style: none;
    padding: 0;
  }
  
  .category-list-mobile li {
    margin-bottom: 10px; 
  }
  
  .category-list li a {
    text-decoration: none; 
    font-weight: 800; 
    color: #ffffff; 
    transition: all 0.3s; 
  }
  
  .category-list li a:hover {
    color: #00cc66; 
    transform: scale(1.09); 
    border-bottom: 2px solid #00cc66;
    opacity: 0.9; 
  }
  .login-button {
    background-color: #00cc66; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .login-button:hover {
    background-color: #00994d; 
  }
  