/* Footer */
.footer-section {
    background-color:rgb(51, 66, 134); 
    color: #fff; 
    padding: 50px 0;
    width: 100%; /* Ancho del 100% */
}

/* Contenedor del footer */
.container {
    display: flex; /* Usamos flexbox para centrar el contenido horizontalmente */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    flex-direction: column; /* Alinear elementos verticalmente */
}

/* Footer Content */
.footer-cta .cta-text h4 {
    color: #fff; 
}

.footer-cta .cta-text span {
    color: #fff; 
}

/* Footer Social Icons */
.footer-social-icon {
    margin-top: 20px;
}

.footer-social-icon span {
    display: block;
    margin-bottom: 10px;
}

.footer-social-icon a i {
    font-size: 24px;
    margin-right: 10px;
    color: #fff; 
}

/* Footer Subscription Form */
.footer-widget-heading h3 {
    color: #fff; 
}

.footer-text p {
    color: #fff; 
}

.subscribe-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.subscribe-form button {
    background-color: #28a745; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: #218838;
}

/* Copyright Area */
.copyright-area {
    background-color: #28a745; 
    color: #fff; 
    padding: 20px 0;
}

/* Enlace de Copyright */
.copyrigth-area a {
    color: #fff; 
}

/* Estilos para flexbox */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-cta,
.footer-content {
    width: 100%;
    max-width: 1200px; 
}
a {
    color: white; 
    text-decoration: none; 
}

a:hover {
    color: rgb(51, 66, 134); 
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
  }
  
  .footer-contact-info span {
    margin-bottom: 10px;
  }
  
  .footer-contact-info i {
    margin-right: 10px;
  }
  